video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.counter-app {
  position: relative;
  top: 50%;
  left: 50%;
  translate: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  border: 4px solid #ffbe40;
  border-radius: 1rem;
  width: fit-content;
  padding: 2rem 5rem;
  box-shadow: ;
  z-index: 999;
}

.counter-app {
  text-transform: uppercase;
  text-align: center;
}

.counter-app p {
  font-size: 40px;
  color: #f1f6ce;
}

.counter-app p:last-child {
  font-size: 80px;
}

.btn1,
.btn2 {
  margin: 0.4rem;
  border-radius: 50%;
  opacity: 1;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: 0.5s;
}

.btn1 {
  background-color: #69d2cd;
  border: 2px solid #a4fffa;
  color: #480048;
}

.btn1:hover {
  background-color: #a4fffa;
  border: 2px solid #69d2cd;
}

.btn2 {
  background-color: #99173c;
  border: 2px solid #e23969;
  color: #d3ce3d;
}

.btn2:hover {
  background-color: #e23969;
  border: 2px solid #99173c;
}

.btn3 {
  margin: 1rem;
  padding: 0.8rem;
  border: 2px solid #fff2b1;
  background-color: #f9d423;
  cursor: pointer;
  transition: 0.5s;
}

.btn3:hover {
  background-color: #fff2b1;
  border: 2px solid #f9d423;
}
